body {
    background-color: #1a1a1d;
    color: #cfcfcf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #2e2e33 !important;
}

.navbar-brand, .nav-link {
    color: #88c0d0 !important;
}

.nav-link:hover {
    color: #a3d5ff !important;
}

.navbar-toggler {
    display: none !important;
}

.collapse {
    display: block !important;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

header {
    background-color: #3b4252;
    color: #eceff4;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5rem;
    color: #eceff4;
    font-weight: bold;
}

header p {
    font-size: 1.2rem;
}

#about {
    background-color: #2e2e33;
    padding: 50px 0;
}

#about h2 {
    color: #eceff4;
    font-weight: bold;
}

#about a {
    color: #88c0d0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#about a:hover {
    color: #a3d5ff;
    text-decoration: underline;
}

#features {
    padding: 50px 0;
}

#features h3 {
    color: #88c0d0;
    font-weight: bold;
}

#features p {
    font-size: 1.1rem;
}

#features a {
    color: #88c0d0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#features a:hover {
    color: #a3d5ff;
    text-decoration: underline;
}

#global-concentrations {
    background-color: #2e2e33 !important;
    color: #88c0d0;
    padding: 50px 0;
}

#filter-form {
    background-color: #2a2a2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#filter-btn {
    background-color: #5e81ac !important;
    color: #eceff4 !important;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
}

#filter-btn:hover {
    background-color: #81a1c1 !important;
}

.table {
    background-color: #2e2e33;
    color: #eceff4;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.table-hover tbody tr:hover {
    background-color: #3b3b42 !important;
}

.table th {
    background-color: #4c566a;
    color: #eceff4;
    padding: 10px;
    text-align: left;
}

.table td {
    padding: 10px;
    background-color: #3b3b42;
    border-top: 1px solid #4c566a;
}

#plot {
    background-color: #2e2e33;
    border: 3px solid #5e81ac;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#sunburst {
    background-color: #1a1a1d;
    border: 3px solid #5e81ac;
    padding: 20px;
}

.sunburst-title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #cfcfcf;
    text-align: center;
    margin-top: 15px;
}

#map_container {
    border: 5px solid #5e81ac;
    border-radius: 10px;
    overflow: hidden;
}

.plotly .main-svg {
    color: #eceff4;
}

.plotly .hovertext {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #eceff4;
}

.works-cited-section {
    background-color: #2e2e33;
    padding: 50px 0;
    text-align: center;
}

.citation-box {
    background: #434c5e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.citation-list {
    color: #88c0d0;
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

.citation-list li {
    margin: 10px 0;
}

.citation-list a {
    color: #88c0d0;
    text-decoration: none;
    font-weight: bold;
}

.citation-list a:hover {
    text-decoration: underline;
    color: #a3d5ff;
}

footer {
    background-color: #2e2e33;
    color: #cfcfcf;
    padding: 20px 0;
    font-size: 0.9rem;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    position: sticky;
}
